.background {
    -fx-background-color:white;
}
#mainAnchorPane{
    -fx-background-color:white;
}

#leftPane{
    -fx-background-color:#488a99;
}

#settingBarVBOX{
    -fx-background-color:#455a64;

}

#PatientDataPane{
    -fx-background-color:#00AA8D;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-font-size: 8pt;
    -fx-padding: 5 5 5 5;
}
#rightPane{
    -fx-background-color:white;
}

#maingrigPane{

}

#PatientDataGridPane{
    -fx-text-fill: white;
}

#researchSettingsPane{
    -fx-background-color:#488a99;
    -fx-text-fill: white;
}
#middlePane{
    -fx-background-color:#b4b4b4;
}

#rigntPane{
    -fx-background-color:#455A64;
    -fx-text-fill: white;
}

#sendingLabel{
    -fx-text-fill: #455A64;
    -fx-font-size: 18pt;
}

#histiryListPane{
    -fx-background-color:white;
    -fx-text-fill: #00BF9A;

}

#quantitiveAnchorPane{
    -fx-background-color:#b4b4b4;
    -fx-text-fill: #000000;

}

#senderField, #MessageTextLabel{
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI Semibold";
    -fx-padding: 5 5 5 5;
}


#MessageTextLabel{
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI Semibold";
    -fx-padding: 5 5 5 5;
}

#dateLabel{
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #455A64;
    -fx-font-size: 8pt;
    -fx-padding: 5 5 5 5;
}

#messageTextError{
    -fx-text-fill: red;
    -fx-text-color: red;
}


.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-color: #ffffff;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #00BF9A;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #00BF9A;
    -fx-opacity: 1;
}

#logoLabel{
    -fx-font-size: 16pt;
    -fx-text-fill: #488a99;
    -fx-opacity: 1;

}

#hostLabel, #portLabel, #userLabel, #passwordLabel, #dbnameLabel{
    -fx-text-color: #ffffff;
    -fx-text-fill: #ffffff;
}
#hostField, #portField, #userField, #passwordField, #dbnameField{
    -fx-background-color: #ffffff;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #455a64 transparent #455a64;
    -fx-background-color: transparent, derive(#455a64,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#455a64,20%);
}

.context-menu {
    -fx-background-color: derive(#455a64,50%);
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-width: 20;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.button:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #455a64;
    -fx-text-alignment: center;
}

.button{
    -fx-background-color: #455a64;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}
#testButton{
    -fx-background-color: white;
}
#maingrigPane:row-selection:hover{
    -fx-background-color: red;

}
#signInButton  {

    -fx-min-height: 50px;

    -fx-min-width: 220px;
    -fx-padding: 10px;
    -fx-background-image: url("../images/key.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #d8d8d8;


}
#dbButton  {

    -fx-min-height: 50px;
    -fx-min-width: 220px;
    -fx-padding: 10px;
    -fx-background-image: url("../images/database.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #d8d8d8;


}


#settingsButton{
    -fx-min-height: 50px;
    -fx-min-width: 220px;
    -fx-background-image: url("../images/process.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #d8d8d8;

}
#webcamButton{
    -fx-min-height: 50px;
    -fx-min-width: 220px;
    -fx-background-image: url("../images/webcam.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #d8d8d8;
}
#photoCameraButton{
    -fx-min-height: 50px;
    -fx-min-width: 220px;
    -fx-background-image: url("../images/photo_camera.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #d8d8d8;
}
#address_bookButton{
    -fx-min-height: 50px;
    -fx-min-width: 220px;
    -fx-background-image: url("../images/address_book.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #d8d8d8;
}

#loadImageButton{
    -fx-background-color: #264348;
    -fx-min-height: 50px;
    -fx-min-width: 220px;
    -fx-background-image: url("../images/photo.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
}
#autoButton{
    -fx-min-height: 50px;
    -fx-min-width: 220px;
}

#pacientButton{
    -fx-min-height: 100px;
    -fx-min-width: 350px;
    -fx-background-image: url("../images/id_card.png");
    -webkit-fx-background-image-: 300px;
    -moz-fx-background-image-: 300px;
    -ms-fx-background-image-: 300px;
    -o-fx-background-image-: 300px;
    fx-background-image-: 300px;
    -fx-background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #1b323b;
}

#automaticButton, #handeButton{
    -fx-background-color: #6B9362;
    -fx-text-fill: #ffffff;
}

#cellEstimatorButton{
    -fx-background-color: #CA6924;
    -fx-text-fill: #ffffff;
    -fx-min-height: 50px;
    -fx-min-width: 220px;
}
#hostTextField, #portFieldTextField, #userFieldTextField, #dbnameTextField{
    -fx-background-color: white;
}
#passwordTextField{
    -fx-background-color: white;
}

/*.button {
    -fx-padding: 3 10 3 10;
    -fx-border-color: #317589;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #8BC34A;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-min-height: 30px;
    -fx-min-width: 50px;
    -fx-alignment: center;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
*/
#closeMessButton, /*#dbSettingButton,*/ #sendMessageButton, #loadFolderButton, #loadClassificationFolderButton, #handleCreateResearchButton, #createResearchButton {
    -fx-padding: 0.5em 0.37em;
    -fx-font-size: 12px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
}

#selectPacientLabel, #researchNameLabel, #researchNameValueLabel, #researchGlassLabel, #researchGlassValueLabel, #surnameTitleLabel,
#surnameLabel, #nameTitleLabel, #nameLabel, #fathernameTitleLabel, #fatherLabel, #date_of_birthTitleLabel, #date_of_birthLabel{
    -fx-text-fill: white;
}
#logo{
    -fx-border-color: #00BF9A;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #00BF9A;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: center;
    -fx-min-height: 350px;
    -fx-min-width: 350px;
    -fx-alignment: center;
    -fx-background-image: url("../images/Microscope-icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}



/* .button:hover {
    -fx-background-color: #DCEDC8;
    -fx-text-color: #212121;
     -fx-text-fill: #212121;

}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #212121;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-text-color: #212121;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1b323b;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
*/
.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: black, black;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(5,5,5,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

#selectResearchByPacientLabel{
    -fx-highlight-text-fill: #ffffff;
}
#sendingAnchorPane{
    -fx-background-color: #ffffff;
    -fx-text-fill: #ffffff;
}


#DiagnosisRulesButton{
    -fx-padding: 3 10 3 10;
    -fx-border-color: #A5C05B;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #A5C05B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/network.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}


#generateArffFileButton{
    -fx-padding: 3 10 3 10;
    -fx-border-color: #b4b4b4;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #b4b4b4;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 55px;
    -fx-min-width: 100px;
    -fx-alignment: center;
    -fx-background-image: url("../images/page.png");
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#PatternsDescriptionButton{
    -fx-padding: 3 10 3 10;
    -fx-border-color: #00BF9A;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #00BF9A;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: center;
    -fx-background-image: url("../images/puzzle.png");
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#objectCharacterParamButton{
    -fx-padding: 3 10 3 10;
    -fx-border-color: #E99787;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #E99787;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/quote.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}

#showButton1{
    -fx-padding: 23 20 3 10;
    -fx-border-color: #DBAE58;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #DBAE58;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/id-card.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}
#simpleResearchButton{
    -fx-padding: 23 20 3 10;
    -fx-border-color: #00BF9A;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #00BF9A;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/settings.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}
#directionButton{
    -fx-padding: 23 20 3 10;
    -fx-border-color: #455A64;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #455A64;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/medical-result.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}

#cytologyButton, #histologyButton{
    -fx-padding: 23 20 3 10;
    -fx-border-color: #A5C05B;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #A5C05B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/microscope.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}

#lightLabel, #light1Label, #light2Label, #batchesClassificationLabel{
    -fx-text-fill: #ffffff;
}

#expertResearchButton{
    -fx-padding: 23 20 3 10;
    -fx-border-color: #A5C05B;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #A5C05B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/expertresearch.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}

#cnnButton{
    -fx-padding: 23 20 3 10;
    -fx-border-color: #E99787;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #E99787;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 200px;
    -fx-min-width: 250px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/cnn.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 11, 12;
}

#addNewSending{
    -fx-padding: 0 0 0 0;
    -fx-border-color: #A5C05B;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #A5C05B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-background-image: url("../images/speech-bubble.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
}

#writeMessageButton{
    -fx-padding: 0 0 0 0;
    -fx-border-color: #488a99;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #488a99;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-background-image: url("../images/speech-bubble.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
}
#refreshMessagesButton{
    -fx-padding: 0 0 0 0;
    -fx-border-color: #488a99;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #488a99;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/mail1.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
}

#loginButton{
    -fx-padding: 0 0 0 0;
    -fx-border-color: #488a99;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #488a99;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/padlock.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
}

#logoutButton{
    -fx-padding: 0 0 0 0;
    -fx-border-color: #488a99;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #488a99;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-text-alignment: right;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-alignment: bottom-center;
    -fx-background-image: url("../images/man_exit.png");
    -fx-background-position: top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
}